{% extends "base.html" %}
{% block body %}
    <h1>Who are the Knights of Columbus?</h1>
    <p>The <a href="www.kofc.org/en/index.html">Knights of Columbus</a> is the world's largest Catholic fraternal service organization. It was founded by the Venerable Father Michael J. McGivney in New Haven, Connecticut, in 1882, and named in honor of Christopher Columbus. Originally serving as a mutual benefit society to low-income immigrant Catholics, it developed into a fraternal service organization dedicated to providing charitable services, promoting Catholic education and actively defending Catholicism in various nations. (from <a href="http://en.wikipedia.org/wiki/Knights_of_Columbus">Wikipedia</a>)</p>

    <h1>The Story</h1>
    <p>On Oct. 2, 1881, a group of men met in the basement of St. Mary’s Church on Hillhouse Avenue in New Haven. Called together by their 29-year-old parish priest, <a title="Father Michael J. McGivney" href="http://www.fathermcgivney.org/en/index.html" rel="external" alt="Father Michael J. McGivney">Father Michael J. McGivney</a>, these men formed a fraternal society that would one day become the world’s largest Catholic family fraternal service organization.</p>
    <p>They sought strength in solidarity, and security through unity of purpose and devotion to a holy cause: they vowed to be defenders of their country, their families and their faith.</p>
    <p>These men were bound together by the ideal of Christopher Columbus, the discoverer of the Americas, the one whose hand brought Christianity to the New World. Their efforts came to fruition with the incorporation of the Knights of Columbus on March 29, 1882.</p>
    <p> They were Knights of Columbus.</p>
    <p>The Order has been called "the strong right arm of the Church," and has been praised by popes, presidents and other world leaders, for support of the Church, programs of evangelization and Catholic education, civic involvement and aid to those in need.</p>
    <p>Father McGivney’s founding vision for the Order also included a life insurance program to provide for the widows and orphans of deceased members. The Order’s insurance program has expanded substantially to serve more effectively the Knights’ growing membership.</p>
    <p>Year after year, the Knights of Columbus has earned the highest possible quality ratings for financial soundness from outside ratings agencies. The Order provides the highest quality insurance, annuity and long-term care products to its members, along with many other fraternal benefits.</p>
    <p>The Knights of Columbus have been a strong force in supporting the Catholic Church and her clergy in Oklahoma since 1903. The first two councils in Oklahoma were formed in El Reno on November 22 of that year, followed by McAlester one week later on November 29, four years prior to statehood. The Oklahoma State Council was formed February 2, 1907.</p>
    <p></p>

    <h2>Still to do...</h2>
    <ul>
    	<li>Populate the various people's sites with the relivent information to their stuff.</li>
    	<li>Increase robostness for the blog by not adding blank entries to the database.</li>
    </ul>
{% endblock %}