{% extends "base.html" %}
{% block body %}
<h1 align='center'>District Deputies</h1>
	<table align="center" border="1" bordercolor="#336699" cellpadding="2" cellspacing="0" width="500">
        <tbody>
            <!--District 1--> <tr>
              <td valign="top" width="199"><font font=""
                  face="Verdana, Arial, Helvetica, sans-serif"
                  color="#000000" size="2">Bill Stepanski<br>
                  District 1<br>
                  <a href="bgstep74@gmail.com">bgstep74@gmail.com</a><br>
                  <!--phone number-->(580) 256-1326</font></td>
              <td width="75"><img
                  src="/static/img/profiles/silhouette.jpg" alt="DD1"
                  height="83" width="75"></td>
              <td valign="top" width="206"><font font=""
                  face="Verdana, Arial, Helvetica, sans-serif"
                  color="#000000" size="2"></font><br>
              </td>
            </tr>
            <!--District 2--> <tr>
              <td valign="top" width="199"><font font=""
                  face="Verdana, Arial, Helvetica, sans-serif"
                  color="#000000" size="2">Brian W. Bruce<br>
                  District 2<br>
                  <a href="bw.bruce@sbcglobal.net">bw.bruce@sbcglobal.net</a><br>
                  <!--phone number-->(580) 242-2779<br>
                </font> </td>
              <td width="75"><img src="/static/img/profiles/bruce.jpg"
                  alt="DD2" height="240" width="159"></td>
              <td valign="top" width="206"><font font=""
                  face="Verdana, Arial, Helvetica, sans-serif"
                  color="#000000" size="2"> </font><br>
              </td>
            </tr>
            <!--District 3--> <tr>
              <td valign="top" width="199"><font font=""
                  face="Verdana, Arial, Helvetica, sans-serif"
                  color="#000000" size="2">Bill J. Bridges<br>
                  District 3<br>
                  <a href="bridgb@pcps.us">bridgb@pcps.us</a><br>
                  <!--phone number-->(580) 762-2331<br>
                </font></td>
              <td width="75"><img
                  src="/static/img/profiles/silhouette.jpg" alt="DD3"
                  height="83" width="75"></td>
              <td valign="top" width="206"><font font=""
                  face="Verdana, Arial, Helvetica, sans-serif"
                  color="#000000" size="2"> </font><br>
              </td>
            </tr>
            <!--District 4--><tr>
              <td valign="top" width="199"><font font=""
                  face="Verdana, Arial, Helvetica, sans-serif"
                  color="#000000" size="2">Phillip L. Nickel<br>
                  District 4<br>
                  <a href="mailto:emailaddress@somewhere.com">pnickel@cimarex.com</a><br>
                  <!--phone number-->(918) 494-4017<br>
                </font></td>
              <td width="75"><img src="/static/img/profiles/nickel.jpg"
                  alt="DD4" height="240" width="159"></td>
              <td valign="top" width="206"><font font=""
                  face="Verdana, Arial, Helvetica, sans-serif"
                  color="#000000" size="2"></font><br>
              </td>
            </tr>
            <!-- District 5 --> <tr>
              <td valign="top" width="199"><font font=""
                  face="Verdana, Arial, Helvetica, sans-serif"
                  color="#000000" size="2">Francis Elmenhorst<br>
                  District 5<br>
                  <a href="mailto:emailaddress@somewhere.com">felmen@swbell.net</a><br>
                  <!--phone number-->(918) 331-9090<br>
                </font></td>
              <td width="75"><img src="/static/img/profiles/silhouette.jpg"
                  alt="State Treasurer" height="83" width="75"></td>
              <td valign="top" width="206"><font font=""
                  face="Verdana, Arial, Helvetica, sans-serif"
                  color="#000000" size="2"></font><br>
              </td>
            </tr>
            <!-- District 6 --> <tr>
              <td valign="top" width="199"><font font=""
                  face="Verdana, Arial, Helvetica, sans-serif"
                  color="#000000" size="2">Danny M. O'Connor<br>
                  District 6<br>
                  <a href="mailto:emailaddress@somewhere.com">dmoc93@att.net</a><br>
                  <!--phone number-->(918) 437-5131<br>
                </font></td>
              <td width="75"><img
                  src="/static/img/profiles/o%27connor.jpg" alt="DD6"
                  height="240" width="159"></td>
              <td valign="top" width="206"><font font=""
                  face="Verdana, Arial, Helvetica, sans-serif"
                  color="#000000" size="2"></font><br>
              </td>
            </tr>
            <!-- District 7 --> <tr>
              <td valign="top" width="199"><font font=""
                  face="Verdana, Arial, Helvetica, sans-serif"
                  color="#000000" size="2">Kevin Larios<br>
                  District 7<br>
                  <a href="mailto:emailaddress@somewhere.com">klarios357@earthlink.net</a><br>
                  <!--phone number-->(405) 624-2208</font></td>
              <td width="75"><img src="/static/img/profiles/larios.jpg"
                  alt="DD7" height="240" width="159"></td>
              <td valign="top" width="206"><font font=""
                  face="Verdana, Arial, Helvetica, sans-serif"
                  color="#000000" size="2"></font><br>
              </td>
            </tr>
            <!-- District 8 --> <tr>
              <td valign="top" width="199"><font font=""
                  face="Verdana, Arial, Helvetica, sans-serif"
                  color="#000000" size="2">Michael J. Harris<br>
                  District 8<br>
                  <a href="mailto:emailaddress@somewhere.com">wildseptember@hotmail.com</a><br>
                  <!--phone number-->(580) 562-4146<br>
                </font></td>
              <td width="75"><img src="/static/img/profiles/harris.jpg"
                  alt="DD8" height="240" width="159"></td>
              <td valign="top" width="206"><font font=""
                  face="Verdana, Arial, Helvetica, sans-serif"
                  color="#000000" size="2"></font><br>
              </td>
            </tr>
            <!--District 9--> <tr>
              <td valign="top" width="199"><font font=""
                  face="Verdana, Arial, Helvetica, sans-serif"
                  color="#000000" size="2">Mark Gildon<br>
                  District 9<br>
                  <a href="mailto:emailaddress@somewhere.com">gihim98@yahoo.com</a><br>
                  <!--phone number-->(580) 641-2555<br>
                </font></td>
              <td width="75"><img src="/static/img/profiles/gildon.jpg"
                  alt="DD9" height="240" width="159"></td>
              <td valign="top" width="206"><font font=""
                  face="Verdana, Arial, Helvetica, sans-serif"
                  color="#000000" size="2"></font><br>
              </td>
            </tr>
            <!--District 10--> <tr>
              <td valign="top" width="199"><font font=""
                  face="Verdana, Arial, Helvetica, sans-serif"
                  color="#000000" size="2">Paul M. Martin<br>
                  District 10<br>
                  <a href="mailto:emailaddress@somewhere.com">pmmartin1954@yahoo.com</a><br>
                  <!--phone number--></font><font font=""
                  face="Verdana, Arial, Helvetica, sans-serif"
                  color="#000000" size="2">(580) 320-0837</font></td>
              <td width="75"><img src="/static/img/profiles/martin.jpg"
                  alt="DD10" height="240" width="159"></td>
              <td valign="top" width="206"><font font=""
                  face="Verdana, Arial, Helvetica, sans-serif"
                  color="#000000" size="2"></font><br>
              </td>
            </tr>
            <!--District 11--> <tr>
              <td valign="top" width="199"><font font=""
                  face="Verdana, Arial, Helvetica, sans-serif"
                  color="#000000" size="2">Dennis Kunnanz<br>
                  District 11<br>
                  <a href="mailto:emailaddress@somewhere.com">dkunnanz@ymail.com</a><br>
                  <!--phone number-->(405) 341-8156<br>
                </font></td>
              <td width="75"><img src="/static/img/profiles/kunnanz.jpg"
                  alt="DD11" height="240" width="159"></td>
              <td valign="top" width="206"><font font=""
                  face="Verdana, Arial, Helvetica, sans-serif"
                  color="#000000" size="2"></font><br>
              </td>
            </tr>
            <!--District 12--> <tr>
              <td valign="top" width="199"><font font=""
                  face="Verdana, Arial, Helvetica, sans-serif"
                  color="#000000" size="2">Joseph S. Mecham<br>
                  District 12<br>
                  <a href="mailto:emailaddress@somewhere.com">jsmecham@cox.net</a><br>
                  <!--phone number-->(405) 573-4979<br>
                </font></td>
              <td width="75"><img src="/static/img/profiles/mecham.jpg"
                  alt="State Chaplain" height="240" width="159"></td>
              <td valign="top" width="206"><font font=""
                  face="Verdana, Arial, Helvetica, sans-serif"
                  color="#000000" size="2"></font><br>
              </td>
            </tr>
            <!--District 13--> <tr>
              <td valign="top" width="199"><font font=""
                  face="Verdana, Arial, Helvetica, sans-serif"
                  color="#000000" size="2">Neil A. Baltazor<br>
                  District 13<br>
                  <a href="mailto:emailaddress@somewhere.com">kocfmm@cox.net</a><br>
                  <!--phone number-->(405) 454-3651<br>
                </font></td>
              <td width="75"><img src="/static/img/profiles/baltazor.jpg"
                  alt="State Chaplain" height="240" width="159"></td>
              <td valign="top" width="206"><font font=""
                  face="Verdana, Arial, Helvetica, sans-serif"
                  color="#000000" size="2"></font><br>
              </td>
            </tr>
            <!--District 14--> <tr>
              <td valign="top" width="199"><font font=""
                  face="Verdana, Arial, Helvetica, sans-serif"
                  color="#000000" size="2">Troy Ogden<br>
                  District 14<br>
                  <a href="mailto:emailaddress@somewhere.com">troyogden@hotmail.com</a><br>
                  <!--phone number-->(405) 324-6833<br>
                </font></td>
              <td width="75"><img src="/static/img/profiles/ogden.jpg"
                  alt="State Chaplain" height="240" width="159"></td>
              <td valign="top" width="206"><font font=""
                  face="Verdana, Arial, Helvetica, sans-serif"
                  color="#000000" size="2"></font><br>
              </td>
            </tr>
            <!--District 15--> <tr>
              <td valign="top" width="199"><font font=""
                  face="Verdana, Arial, Helvetica, sans-serif"
                  color="#000000" size="2">Bill Lane<br>
                  District 15<br>
                  <a href="mailto:emailaddress@somewhere.com">wlane5456@live.com</a><br>
                  <!--phone number-->(918) 773-5244</font></td>
              <td width="75"><img src="/static/img/profiles/lane.jpg"
                  alt="State Chaplain" height="240" width="159"></td>
              <td valign="top" width="206"><font font=""
                  face="Verdana, Arial, Helvetica, sans-serif"
                  color="#000000" size="2"></font><br>
              </td>
            </tr>
            <!--District 16--> <tr>
              <td valign="top" width="199"><font font=""
                  face="Verdana, Arial, Helvetica, sans-serif"
                  color="#000000" size="2">William T. Oaks<br>
                  District 16<br>
                  <a href="mailto:emailaddress@somewhere.com">wtoaks@cox.net</a><br>
                  <!--phone number-->(405) 751-0560<br>
                </font></td>
              <td width="75"><img
                  src="/static/img/profiles/silhouette.jpg" alt="State
                  Chaplain" height="83" width="75"></td>
              <td valign="top" width="206"><font font=""
                  face="Verdana, Arial, Helvetica, sans-serif"
                  color="#000000" size="2"></font><br>
              </td>
            </tr>
            <!--District 17--> <tr>
              <td valign="top" width="199"><font font=""
                  face="Verdana, Arial, Helvetica, sans-serif"
                  color="#000000" size="2">Hilario Rubalcaba<br>
                  District 17<br>
                  <a href="mailto:emailaddress@somewhere.com">larubal@hotmail.com</a><br>
                  <!--phone number-->(918) 449-0155</font></td>
              <td width="75"><img
                  src="/static/img/profiles/silhouette.jpg" alt="State
                  Chaplain" height="83" width="75"></td>
              <td valign="top" width="206"><font font=""
                  face="Verdana, Arial, Helvetica, sans-serif"
                  color="#000000" size="2"></font><br>
              </td>
            </tr>
            <!--District 18--> <tr>
              <td valign="top" width="199"><font font=""
                  face="Verdana, Arial, Helvetica, sans-serif"
                  color="#000000" size="2">Russell Pascarella<br>
                  District 18<br>
                  <a href="mailto:emailaddress@somewhere.com">pascaru@tulsaschools.org</a><br>
                  <!--phone number-->(918) 622-3080<br>
                </font></td>
              <td width="75"><img
                  src="/static/img/profiles/pascarella.jpg" alt="State
                  Chaplain" height="240" width="159"></td>
              <td valign="top" width="206"><font font=""
                  face="Verdana, Arial, Helvetica, sans-serif"
                  color="#000000" size="2"></font><br>
              </td>
            </tr>
            <!--District 19--> <tr>
              <td valign="top" width="199"><font font=""
                  face="Verdana, Arial, Helvetica, sans-serif"
                  color="#000000" size="2">David L. Vasseur<br>
                  District 19<br>
                  <a href="mailto:emailaddress@somewhere.com">dlvasseur@allegiance.tv</a><br>
                  <!--phone number-->(918) 801-8676<br>
                </font></td>
              <td width="75"><img src="/static/img/profiles/vasseur.jpg"
                  alt="State Chaplain" height="240" width="159"></td>
              <td valign="top" width="206"><font font=""
                  face="Verdana, Arial, Helvetica, sans-serif"
                  color="#000000" size="2"></font><br>
              </td>
            </tr>
          </tbody>
        </table>

{% endblock %}