{% extends "base.html" %}
{% block body %}
	<h2>Downloadable Documents</h2>
	<p>Below is a list of documents that can be downloaded for your use and the use of your Council.</p>
	<p>If any other documents need to be added to this list, please contact the webmaster.</p>
	<ul>
		{% for doc in docs %}
			<li><a onclick="downloadDoc('{{doc}}')">{{doc}}</a></li>
		{% endfor %}
	</ul>
	{% with messages = get_flashed_messages() %}
		{% if messages %}
			Results:
			<pre>
				{% for message in messages %}
{{ message }}
			{% endfor %}
			</pre>
		{% endif %}
	{% endwith %}
	<script type="text/javascript">
		function downloadDoc(doc)
		{
			$('a').attr('href', '/static/docs/'+doc);
		}
	</script>
{% endblock %}