{% extends "base.html" %}
{% block body %}
    <h1 id=''>Oklahome State Council: Knights of Columbus</h1>
    <p><img src="static/img/home_cover.jpg"></p>
    <p>Welcome to the home of the Oklahoma State Council of the Knights of Columbus.</p>
    <p>This is your primary source for information, events, and pictures from the state council. Please use the side links to navigate.</p>
    <p>For any questions, comments, additions:  Contact <a href="mailto:webmaster@okkofc.org">the webmaster.</a></p>

{% endblock %}