{% extends "base.html" %}
{% block body %}
	<h1>Join Us</h1>
	<h2>Why Join the Knights of Columbus?</h2>
	<p>Imagine being part of an organization that fills your heart and your mind with the joy of giving to others and the feeling that comes with making a difference.</p>
	<p>Knights are Catholic Men, 18 years of age and older, who are committed to making their community a better place, while supporting their Church. Being a Knight is more than camaraderie; it is being involved with your community; it is supporting your local Catholic Church, while enhancing your own faith; it is about protecting and enhancing your family life.</p>
	<br />

	<h2>Steps to become a Knight of Columbus</h2>
		<ul>
			<li>Complete the form at the following <a href="http://www.kofc.org/un/en/membership/join/join.html">link,</a> after which a Knight in your area will contact you.</li>
			<li>Have a conversation with him about the Knights of Columbus in your council.</li>
			<li>Browse this website for information about Knights' activity here in oklahoma, or browse the <a href="http://www.kofc.org/">Official Page</a> for more information about the Knights as a whole.</li>
			<li>Complete a Membership Document - the Knight who contacts you will be glad to give you one.</li>
			<li>Attend the next initiation ceremony in your council.</li>
		</ul>
	<br />

	<h2>Benefits of Membership</h2>
	<p>
		<ul>
			<li><p><em>COLUMBIA</em> MAGAZINE &ndash; Free subscription to the Order&rsquo;s monthly magazine examining issues of concern to Knights, Catholics and families.</p></li>
			<li><p>KNIGHTS of COLUMBUS ROSARY &ndash; Blessed by the supreme chaplain, presented during the First Degree exemplification to each new member.</p></li>
			<li><p>DAILY MASS OF REMEMBRANCE AT ST. MARY&rsquo;S CHURCH &ndash; Mass for deceased members and their wives, and deceased members of the Squires program, at birthplace of the Order.</p></li>
			<li><p>INSURANCE &ndash; Portfolio of top-quality life insurance, long-term care,&nbsp;and annuity products exclusively for members and their families.</p></li>
			<li><p>FAMILY FRATERNAL BENEFIT &ndash; For eligible families: a) Pays $1,500 for the child who dies before the age of 61 days; b) Pays $750 for the child who is stillborn at least 20 weeks after conception; c)Offers guaranteed-issue insurance up to $5,000 to any child under age 18.</p></li>
			<li><p>ORPHAN BENEFIT &ndash; $80 monthly allotment for orphans of eligible families; up to $7,000 in college scholarships available.</p></li> 
			<li><p>MEMBER/SPOUSE FRATERNAL BENEFIT &ndash; Accidental death coverage for member and spouse at no cost.</p></li>
			<li><p>WIDOW BENEFITS &ndash; a) Continues to be covered under the Member/Spouse Fraternal Benefit; b) May purchase life insurance,&nbsp;long-term care insurance,&nbsp;or annuities up to one&nbsp;year after insured member&rsquo;s death; c) Receives a free lifetime subscription to <em>Columbia</em>; d) Eligible with her children for scholarships, student loans, etc.</p></li>
			<li><p>SCHOLARSHIPS &ndash; Scholarship programs for higher education available to members, their spouses and children.</p></li>
			<li><p>LEADERSHIP DEVELOPMENT &ndash; Opportunity to build personal leadership skills, public speaking ability, organization skills, etc.</p></li>
			<li><p>FOURTH DEGREE &ndash; Eligibility to join the &ldquo;Patriotic Degree.&rdquo;</p></li>
			<li><p>HONORARY LIFE MEMBERSHIP at Age 70 with 25 years of membership.</p></li>
			<li><p>MEMBERSHIP CARD &ndash; Entitles participation in all Catholic, fraternal and social activities in nearly 13,000 councils throughout the world.</p></li>
			<li><p>ACTIVITIES &ndash; FAMILY/YOUTH/RELIGIOUS/SOCIAL/ATHLETIC &ndash; Participation in a variety of programs and activities conducted by local councils.</p></li>
		</ul>
	</p>
	<br />


{% endblock %}