{% extends "base.html" %}
{% block body %}
<h1 align='center'>State Officers</h1>
{# NOTE:  REDO ALL OF THESE TO USE CSS AND NOT HTML#}
  <table align="center" border="1" bordercolor="#336699" cellpadding="2" cellspacing="0" width="500">
        <tbody>
          <!--State Chaplain--> <tr>
            <td valign="top" width="199"><font font=""
                color="#000000" face="Verdana, Arial, Helvetica,
                sans-serif" size="2">Rev. James Caldwell<br>
                State Chaplain<br>
                <a href="mailto:statechaplin@okkofc.org">statechaplin@okkofc.org</a><br>
                <!--phone number-->(918) 423-6695</font></td>
            <td width="75"><img src="/static/img/profiles/caldwell.jpg/"
                alt="State Chaplain" height="240" width="159"></td>
            <td valign="top" width="206"><font font=""
                color="#000000" face="Verdana, Arial, Helvetica,
                sans-serif" size="2"></font><br>
            </td>
          </tr>
          <!--State Deputy--> <tr>
            <td valign="top" width="199"><font font=""
                color="#000000" face="Verdana, Arial, Helvetica,
                sans-serif" size="2">Dan Hogan<br>
                State Deputy<br>
                <a href="mailto:statedeputy@okkofc.org">statedeputy@okkofc.org</a><br>
                <!--phone number-->(918) 331-3828<br>
              </font> </td>
            <td width="75"><img
                src="/static/img/profiles/dan_hogan.jpg" alt="Grand
                Knight" height="240" width="159"></td>
            <td valign="top" width="206"><font font=""
                color="#000000" face="Verdana, Arial, Helvetica,
                sans-serif" size="2"> </font><br>
            </td>
          </tr>
          <!--Immediate Past State Deputy--> <tr>
            <td valign="top" width="199"><font font=""
                color="#000000" face="Verdana, Arial, Helvetica,
                sans-serif" size="2">David Roewe<br>
                Immediate Past State Deputy<br>
                <a href="mailto:paststatedeputy@okkofc.org">paststatedeputy@okkofc.org</a><br>
                <!--phone number-->(405) 282-3140</font></td>
            <td width="75"><img src="/static/img/profiles/roewe.jpg"
                alt="Past Grand Knight" height="240" width="159"></td>
            <td valign="top" width="206"><font font=""
                color="#000000" face="Verdana, Arial, Helvetica,
                sans-serif" size="2"> </font><br>
            </td>
          </tr>
          <!-- State Secretary --><tr>
            <td valign="top" width="199"><font font=""
                color="#000000" face="Verdana, Arial, Helvetica,
                sans-serif" size="2">Ronald F. Schwarz<br>
                State Secretary<br>
                <a href="mailto:secretary@okkofc.org">secretary@okkofc.org</a><br>
                <!--phone number-->(405) 348-9969</font></td>
            <td width="75"><img src="/static/img/profiles/schwartz.jpg"
                alt="State Secretary" height="240" width="159"></td>
            <td valign="top" width="206"><font font=""
                color="#000000" face="Verdana, Arial, Helvetica,
                sans-serif" size="2"></font><br>
            </td>
          </tr>
          <!-- State Treasurer --> <tr>
            <td valign="top" width="199"><font font=""
                color="#000000" face="Verdana, Arial, Helvetica,
                sans-serif" size="2">Robert Melko<br>
                State Treasurer<br>
                <a href="mailto:treasurer@okkofc.org">treasurer@okkofc.org</a><br>
                <!--phone number-->(918) 449-9538</font></td>
            <td width="75"><img src="/static/img/profiles/melko.jpg"
                alt="State Treasurer" height="240" width="159"></td>
            <td valign="top" width="206"><font font=""
                color="#000000" face="Verdana, Arial, Helvetica,
                sans-serif" size="2"></font><br>
            </td>
          </tr>
          <!-- State Advocate --> <tr>
            <td valign="top" width="199"><font font=""
                color="#000000" face="Verdana, Arial, Helvetica,
                sans-serif" size="2">John T. Pierce<br>
                State Advocate<br>
                <a href="mailto:advocate@okkofc.org">advocate@okkofc.org</a><br>
                <!--phone number-->(405) 396-3092</font></td>
            <td width="75"><img src="/static/img/profiles/pierce.jpg"
                alt="State Advocate" height="240" width="159"></td>
            <td valign="top" width="206"><font font=""
                color="#000000" face="Verdana, Arial, Helvetica,
                sans-serif" size="2"></font></td>
          </tr>
          <!-- State Warden --> <tr>
            <td valign="top" width="199"><font font=""
                color="#000000" face="Verdana, Arial, Helvetica,
                sans-serif" size="2">Matthew Maly<br>
                State Warden<br>
                <a href="mailto:warden@okkofc.org">warden@okkofc.og</a><br>
                <!--phone number-->(405) 265-2006</font></td>
            <td width="75"><img
                src="/static/img/profiles/matt_maly.jpg" alt="State
                Warden" height="240" width="159"></td>
            <td valign="top" width="206"><font font=""
                color="#000000" face="Verdana, Arial, Helvetica,
                sans-serif" size="2"></font></td>
          </tr>
        </tbody>
      </table>
{% endblock %}